---
const year = new Date().getFullYear();
---

<footer class="w-full p-6 bg-black/50 text-white flex justify-around">
        <p>© {year} - Bruno Souza</p>
        <a href="https://github.com/darkmoonsk">My github</a>
        <a href="https://brunosouzadev.com">Veja meu blog | See my blog</a>
</footer>